
p,
h1{
  color: skyblue;
  width: 500px;
  }

}
html {
  font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}
html {
  background-color: #fce9e9
}


p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f6e9fc;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #f3a6f4;
  text-shadow: 3px 3px 1px black;
   font-size: 50px;
  text-align: center;
  }
img {
  display: block;
  margin: 0 auto;
}

